<!DOCTYPE html>
<html>
<head>  
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
   {% assign title = '' %}
    {% if page.layout == 'author' %}
        {% assign title = page.display_name %}
    {% elsif page.title %}
        {% assign title = page.title | append: " | " | append: site.name %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    {% assign image = '' %}
    {% if page.image %}
        {% assign image = page.image %}
    {% else %}
        {% assign image = "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url %}
    {% endif %}

    {% assign description = '' %}
    {% if page.description %}
        {% assign description = page.description | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% if page.tags %}
        <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}
  
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
      <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#000000">
 <link rel="canonical" href="{{ url }}">
  <link rel="STYLESHEET" type="text/css" href="/isaimini.css" media="all,handheld"/>
  </head>
  <body>
        <div class="line"><span>{{site.name}}</span><br/><small>Name Of Quality</small></div>
<div class="bottom" align="center">Follow our <a href="https://t.me/isaiminiwebdownload"><font color="red">Telegram Page</font></a> &amp; Get Updates and News! 
<div class="Adz"><div class="serachbox" align="center">
  <form action="https://google.com/m/search">
    <input type="text" name="q" size="35%" maxlength="500" value="">
    <input type="hidden" name="as_sitesearch" value="{{site.url}}"><br><input type="submit" value="Search"></form></div></div></div>
