<!DOCTYPE html>
<html>
<head>
<title>{{page.title}}</title>
<meta name="description" content="{{page.seotitle}} ({{page.year}}) Tamilrockers Download {{page.seotitle}} ({{page.year}}) Tamil Movie TamilRockers Download TamilRockers {{page.seotitle}} ({{page.year}}) Download ({{page.year}}) Mp4 Download Tamilrockers.Net">
<meta name="keywords" content="isaimini, moviesda, kothamovies, jiorockers, tamilrockers, tamilmv, tamilblasters, tamilvaathi, tamilgun, tamilyogi, isaitamil, playtamil, masstamilan, starmusic, hotstar, disney">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:title" content="{{page.seotitle}}">
<meta property="og:description" content="{{page.seotitle}} Movie Download HD Tamilrockers">
<meta property="og:url" content="{{ post.url | prepend: site.baseurl | prepend: site.proxy0 }}">
<meta property="og:image" content="{{page.image}}">
<meta charset="UTF-8" />
<meta name="google" content="notranslate" />
<meta http-equiv="Content-Language" content="en_US" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="Rating" content="General">
<meta name="audience" content="all">
<meta name="theme-color" content="#0085ef">
<meta name="msapplication-TileColor" content="#0085ef">
<meta name="mobile-web-app-capable" content="yes">
<meta itemprop="isFamilyFriendly" content="true">
<meta itemprop="copyrightYear" content="{{ 'now' | date: "%Y" }}">
<link rel="stylesheet" media="all" href="/assets/css/mass.css" /> 
<link rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" href="/feed.xml">
<link rel="shortcut icon" href="/favicon.ico">
<link href="{{ post.url | prepend: site.baseurl | prepend: site.proxy0 }}" rel="canonical" />
</head>
<body class="light">
  <div class="header">
  <div class="box">
    <a href="/" title="{{site.name}}" class="logo mt-io logo14">{{site.name}}</a>
    <form method="get" action="/search">
      <input type="text" placeholder="Search..." name="keyword" value="">
      <button class="icon"><i class="icon-search"></i></button>
    </form>
    <nav class="site-nav">
      <a href="#" style="display:none" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
          <path d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
          <path d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
        </svg>
      </a>
      <div class="trigger">
        <a class="page-link anim slink" href="/search" rel="bookmark" style="display:none">Search</a>
        <a class="page-link anim" href="/latest-updates" rel="bookmark">Latest Updates</a>
        <a class="page-link anim" href="/movie-index" rel="bookmark">Movie Index</a>
      </div>
    </nav>
  </div>
</div>
  <p class="cen mhigh mb-1">
  <a href="https://telegram.me/isaiminidownload" target="_blank" rel="nofollow">Click here to join us on Telegram</a>
</p>
<div class="box cen">
  <section class="bots ib post ctr wrapper cen">
    <div class="page-content left">
      <div class="pad10">
  <header>
    <h1>{{page.seotitle}} {{page.language}} movie HD download Starisai</h1>
    <h2 class="normal">Download {{page.seotitle}} {{page.year}} Tamil movie HD Moviesda</h2>
  </header>
  <article class="post-content">
    <div id="movie-image">
      <figure>
        <picture>
          <source srcset="{{page.image}}" type="image/webp">
          <source srcset="{{page.image}}" type="image/jpeg">
          <img alt="{{page.seotitle}} movie poster" title="{{page.seotitle}} Movie Poster" src="{{page.image}}" loading="lazy">
        </picture>
        <figcaption class="cen">{{page.seotitle}} Movie Poster</figcaption>
      </figure>
    </div>
    <fieldset id="movie-handle">
      <legend class="bluer cen">Movie Information</legend>
      <b>Language:</b> {{ page.language }}<br>
      <b>Size:</b> {{ page.size }}<br>
      <b>Year:</b> {{ page.year }}<br>
    </fieldset>
    <div class="rating cen">
      <p>Show your support:
          <button id="like" class="btn green">
            <i class="icon-thumbs-up"></i> <span class="action-text">Like</span>
            (<span id="lcnt" class="likes">328</span>)
          </button>
          <button id="dlike" class="btn red">
            <i class="icon-thumbs-down"></i> <span class="action-text">Dislike</span>
            (<span id="dcnt" class="dlikes">135</span>)
          </button>
      </p>
    </div>
    <div class="cen">
    </div>
        <h2 class="ziparea normal">
          <span class="bold uline">Download {{ page.seotitle }} movie download HD Tamilrockers</span><br>
          
    {% for item in page.dlinks %}
    {% if item.title and item.url %}
          
            <a class="dlink anim" href="{{ item.url }}" rel="nofollow" >{{ item.title }} ({{page.size}})</a>
              
  {% endif %}
  {% endfor %}
        </h2>
      
      


      
      
      
  </article>
</div>




    </div>
  </section>
  <section class="sbar ib cen">
    <div id="sidebar" class="cen">
    <section class="wid ctr">
      <h4 class="wtitle cen">Follow us</h4>
      <div class="social-icons cen">
        <div class="s-icon telegram">
          <a href="https://telegram.me/isaiminidownload" target="_blank" rel="nofollow">
          <svg xmlns="http://www.w3.org/2000/svg" height="75" width="75" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#37aee2"></rect><path fill="#c8daea" d="M199 404c-11 0-10-4-13-14l-32-105 245-144"></path><path fill="#a9c9dd" d="M199 404c7 0 11-4 16-8l45-43-56-34"></path><path fill="#f6fbfe" d="M204 319l135 99c14 9 26 4 30-14l55-258c5-22-9-32-24-25L79 245c-21 8-21 21-4 26l83 26 190-121c9-5 17-3 11 4"></path></svg>
          </a>
        </div>
      </div>
    </section>
    
  
</div>

  </section>
</div>
<p class="cen">
With ♥ from {{site.name}} Team - {{ 'now' | date: "%Y" }}.
</p>
</body>
</html>
