
<!DOCTYPE html>
<html>
<head>
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="isaimini, moviesda, kothamovies, jiorockers, tamilrockers, tamilmv, tamilblasters, tamilvaathi, tamilgun, tamilyogi, isaitamil, playtamil, masstamilan, starmusic, hotstar, disney">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:title" content="{{site.title}}">
<meta property="og:description" content="{{site.description}}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:image" content="/assets/img/blog-image.png">
<meta charset="UTF-8" />
<meta name="google" content="notranslate" />
<meta http-equiv="Content-Language" content="en_US" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="Rating" content="General">
<meta name="audience" content="all">
<meta name="theme-color" content="#0085ef">
<meta name="msapplication-TileColor" content="#0085ef">
<meta name="mobile-web-app-capable" content="yes">
<meta itemprop="isFamilyFriendly" content="true">
<meta itemprop="copyrightYear" content="{{ 'now' | date: "%Y" }}">
<link rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" href="/feed.xml">
<link rel="shortcut icon" href="/favicon.ico">
<link href="{{site.url}}" rel="canonical" />
</head>
<body>
</body>
</html>
