---
---
[
{% assign torrents = site.torrents | where_exp:"torrent","torrent.is_generated != true" %}
  {% assign date_format = site.date_format | default: "%m/%d/%Y" %}
  {% for torrent in torrents %}
    {
      "title"    : "{{ torrent.title | escape }}",
      "torrent"    : "{{ torrent.torrent | escape }}",
      "magnet"    : "{{ torrent.magnet | escape }}",
      "date"     : "{{ torrent.date | date: date_format }}"
    } {% unless forloop.last %},{% endunless %}
  {% endfor %}
{% assign posts = site.posts | where_exp:"post","post.is_generated != true" %}
  {% assign date_format = site.date_format | default: "%m/%d/%Y" %}
  {% for post in posts %}
    {
      "seotitle"    : "{{ post.seotitle | escape }}",
      "language"    : "{{ post.language | escape }}",
      "year"    : "{{ post.year | escape }}",
      "size"    : "{{ post.size | escape }}",
      "tags"     : "{{ post.tags | array_to_sentence_string }}",
      "categories" : "{{ post.category }}",
      "url"      : "{{ site.baseurl }}{{ post.url }}",
      "date"     : "{{ post.date | date: date_format }}"
    } {% unless forloop.last %},{% endunless %}
  {% endfor %}
]
