<!DOCTYPE html>
<html>
<head>
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{page.title}}</title>
<link rel="STYLESHEET" type="text/css" href="https://isaimini.moviesdamob.com/styles.css" media="all,handheld"/>
  </head>
  <body>
    <div class="line"><span>Isaimini.Com</span><br/><small>Name Of Quality</small></div>
    <iframe src="{{site.videoembed}}{{page.streamcode}}" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="450px" width="100%" allowfullscreen>
    </iframe>
    <div class="line"><b>Screenshots</b></div>
<img style = "width: 100%; height: 60%; " src="https://akamai-img-content.com/{{page.streamcode}}_xt.jpg"  alt=""  /> 
        <div class="line"><b>Download This File</b></div>
{{site.videodownload}}{{page.streamcode}}
    </body>
</html>
