<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#">
 
 <head>
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Watch {{page.title}} Full Video Online Free {{site.name}}</title>
 <meta name="description" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}" />
<meta name="keywords" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}" />
<link rel="STYLESHEET" type="text/css" href="/isaimini.css" media="all,handheld"/>

<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="Watch {{page.title}} Full Video Online Free on {{site.name}}">
<meta property="og:description" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}.">
<meta property="og:type" content="video">
<meta property="og:image" content="https://via.placeholder.com/600x300/000000//?text={{page.title}}">
<meta property="og:video" content="{{page.streamcode}}">
<meta property="og:video" content="{{page.streamcode}}">
<meta property="og:video:secure_url" content="{{page.streamcode}}">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="398">
<meta property="og:video:height" content="264">
<meta property="video:release_date" content="{{ page.date | date: "%Y-%m-%d" }}">
<meta property="og:site_name" content="{{site.name}}">
<meta property="video:duration" content="7200">
<meta property="video:tag" content="{{page.category}}">
 
 
 
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "VideoObject",
        "name": "Watch {{page.title}} on {{site.name}}",
        "description": "Watch {{page.title}} Online Free Download on {{site.name}}. ",
        "thumbnailUrl": ["https://akamai-img-content.com/{{page.streamcode}}.jpg"],
        "uploadDate": "{{page.date}}",
        "duration": "PT2H",
        "contentUrl": "{{page.streamcode}}",
        "embedUrl": "{{page.streamcode}}",
        "publication": {
            "@type": "BroadcastEvent",
            "isLiveBroadcast": false,
            "startDate": "{{page.date}}"
        }
    }
</script>
  <style>
.informations {
    padding: 10px 5px;
   background-color: #FDF7FF;
}

.informations h1 {
color:#ea1e4e;
font-size: 16px;
}

.informations p1 {
color: #4B4453;
}
    .tron {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 18px;
   font-weight: 100;
   padding: 14px;
   background-color: #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.tron:hover {
   background: #000000;
   border: solid #00E2FF 5px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}
    </style>
	 <script type="text/javascript" src="https://ssl.p.jwpcdn.com/player/v/8.7.6/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="64HPbvSQorQcd52B8XFuhMtEoitbvY/EXJmMBfKcXZQU2Rnn";</script>
</head>
  <body>
    {% include streamheader.html %}
    <div class="informations">

<h1>{{page.title}}</h1>

</div>

  <div id="player" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
</div>
  <script type="text/javascript">
var player = jwplayer("player");
player.setup({
    sources: [{
        "default": "true",
        "type": "mp4",
        "file": "{{page.streamcode}}"
    }],
    cast: {},
    aspectratio: "16:9",
    startparam: "start",
    primary: "html5",
    autostart: true,
      width: "100%",
    preload: "auto",
    captions: {
        color: "#FFFFFF",
        fontSize: 11,
        backgroundOpacity: 0,
        fontfamily: "Helvetica",
        edgeStyle: "raised"
    },
      "advertising": {
    "client": "vast",
    "adscheduleid": "Az87bY12",
    "schedule": [
      {
        "tag": "https://www.videosprofitnetwork.com/watch.xml?key=528f544b6648e037a08fa50b6e717afd"
      }
    ]
  },
    tracks: [{
        file: "",
        label: "English",
        kind: "captions",
        "default": true
    }]
});
player.on("setupError", function() {
    swal("Server Error!", "Please contact us to fix it asap. Thank you!", "error")
});
player.on("error", function() {
    swal("Server Error!", "Please contact us to fix it asap. Thank you!", "error")
});
</script>
   
   
   
        <center>
    <a href="{{page.streamcode}}" class="tron">Download File</a>
       </center>
 
   
    <div class="line"><b>Download this Video</b></div>

    
      <div class="f" title="{{page.title}} movie download"> <img src="/dir.gif" alt="{{page.title}} {{site.name}}" /> <a href="{{page.streamcode}}">Download in Low Quality</div></div>
<div class="f" title="{{page.title}} movie download"> <img src="/dir.gif" alt="{{page.title}} {{site.name}}" /> <a href="{{page.streamcode}}">Download in High Quality</div></div>    
{% for item in page.vlinks %}
   {% if item.title and item.url %}
    
      <div class="f" title="{{item.title}} movie download"> <img src="/dir.gif" alt="{{item.title}} {{site.name}}" /> <a href="{{item.url}}">{{item.title}} ({{item.size}})</a></div>

     {% endif %}
  {% endfor %}
      
       {% include streamfooter.html %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>



	       <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ author.display_name }}",
                {% if author.photo %}
                "image": "{{ author.photo }}",
                {% else %}
                "image": "{{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }}",
                {% endif %}
                "jobTitle": "{{ author.position }}",
                "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
                "sameAs": [
                    {{ author_urls | split: "," | join: "," }}
                ]
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
        </script>
    </body>
</html>
