<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#">
 
 <head>
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Watch {{page.title}} Full Video Online Free {{site.name}}</title>
 <meta name="description" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}" />
<meta name="keywords" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}" />
<link rel="STYLESHEET" type="text/css" href="/isaimini.css" media="all,handheld"/>
<link rel="stylesheet" href="https://cdn.azk1.net/player/plyr/plyr.css" />
<link rel="stylesheet" href="https://cdn.azk1.net/player/plyr/style.css">

<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="Watch {{page.title}} Full Video Online Free on {{site.name}}">
<meta property="og:description" content="Watch {{page.title}} Full Video Online Free Download {{site.name}}.">
<meta property="og:type" content="video">
<meta property="og:image" content="https://akamai-img-content.com/{{page.streamcode}}.jpg">
<meta property="og:video" content="{{page.streamcode}}">
<meta property="og:video" content="{{page.streamcode}}">
<meta property="og:video:secure_url" content="{{page.streamcode}}">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="398">
<meta property="og:video:height" content="264">
<meta property="video:release_date" content="{{ page.date | date: "%Y-%m-%d" }}">
<meta property="og:site_name" content="{{site.name}}">
<meta property="video:duration" content="7200">
<meta property="video:tag" content="{{page.category}}">
 
 
 
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "VideoObject",
        "name": "Watch {{page.title}} on {{site.name}}",
        "description": "Watch {{page.title}} Online Free Download on {{site.name}}. ",
        "thumbnailUrl": ["https://akamai-img-content.com/{{page.streamcode}}.jpg"],
        "uploadDate": "{{page.date}}",
        "duration": "PT2H",
        "contentUrl": "{{page.streamcode}}",
        "embedUrl": "{{page.streamcode}}",
        "publication": {
            "@type": "BroadcastEvent",
            "isLiveBroadcast": false,
            "startDate": "{{page.date}}"
        }
    }
</script>
  <style>
.informations {
    padding: 10px 5px;
   background-color: #FDF7FF;
}

.informations h1 {
color:#ea1e4e;
font-size: 16px;
}

.informations p1 {
color: #4B4453;
}
    .tron {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 18px;
   font-weight: 100;
   padding: 14px;
   background-color: #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.tron:hover {
   background: #000000;
   border: solid #00E2FF 5px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}
    </style>
</head>
  <body>
    {% include streamheader.html %}
    <div class="informations">

<h1>{{page.title}}</h1>

</div>
   
  <video id="player" style="height: 100vh!important">
<source src="{{page.streamcode}}" type="video/mp4" />
</video> 
   
   
   
   
        <center>
    <a href="{{page.streamcode}}" class="tron">Download File</a>
       </center>
 
   
    <div class="line"><b>Download this Video</b></div>

    
      <div class="f" title="{{page.title}} movie download"> <img src="/dir.gif" alt="{{page.title}} {{site.name}}" /> <a href="{{page.streamcode}}">Download in Low Quality</a></div>
<div class="f" title="{{page.title}} movie download"> <img src="/dir.gif" alt="{{page.title}} {{site.name}}" /> <a href="{{page.streamcode}}">Download in High Quality</a></div>    
{% for item in page.vlinks %}
   {% if item.title and item.url %}
    
      <div class="f" title="{{item.title}} movie download"> <img src="/dir.gif" alt="{{item.title}} {{site.name}}" /> <a href="{{item.url}}">{{item.title}} ({{item.size}})</a></div>

     {% endif %}
  {% endfor %}
      
       {% include streamfooter.html %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.azk1.net/player/plyr/autosize.min.js"></script>
<script src="https://cdn.azk1.net/player/plyr/script.js"></script>
<script src="https://cdn.azk1.net/player/plyr/plyr.js"></script>
<script>
    var player = new Plyr('#player', {
        settings: ""
    });
</script>
    </body>
</html>
