<!DOCTYPE html>
<html>
<head>
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}" />
<link rel="STYLESHEET" type="text/css" href="/isaimini.css" media="all,handheld"/>
  </head>
  <body>
       {% include streamheader.html %}
        <div class="line">Recent Releases</div>
{% include recent.html %}
    
    
    
        
               {% include streamfooter.html %}
        </body>
</html>
