<!DOCTYPE html>
<html>
<head>
    {% assign url = '' %}
    {% if paginator.page_trail %}
        {% assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% else %}
        {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}
<meta name="language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}" />
<meta name="propeller" content="605c5090f65caab349e280d7ea9b7685">
<meta name="google-site-verification" content="V3PxIohMeAD4h3_nnZyXO9T3QKwMtnJwzsWaCdzO4m8" />
<link rel="STYLESHEET" type="text/css" href="/isaimini.css" media="all,handheld"/>
  </head>
  <body>
       {% include streamheader.html %}
        <div class="line">Recent Releases</div>
{% include recent.html %}
    
    
            <div class="line">Recent Releases</div>

           <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
               
               
          <div itemprop="name" class="f" title="{{ category | camelcase }}"> <img src="/dir.gif" alt="{{ category | camelcase }}"> <a itemprop="url" href="{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}</a></div>     
                     
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
          <div itemprop="name" class="f" title="{{ category | camelcase }}"> <img src="/dir.gif" alt="{{ category | camelcase }}"> <a itemprop="url" href="{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}</a></div>     
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}
</ul>
               {% include streamfooter.html %}
        </body>
</html>
